<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style type="text/css">
        * {
            color: rgb(121, 125, 160);

            text-align: center;

        }

        body {
            background-size: 100% 100%;
            background-attachment: fixed;

        }
    </style>
</head>
<body>
<h2>请注册一个新的用户</h2>
<form action="/register" method="post">
    用户名 <input type="text" name="username"><br>
    密码 <input type="password" name="password"><br>
    <input type="submit" value="提交">
</form>

</body>
</html>