<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <style type="text/css">
        * {


            text-align: center;

        }

        body {
            background-size: 100% 100%;
            background-attachment: fixed;

        }
    </style>
</head>
<body>
<h2>修改文章</h2>
<form action="/update" method="post">
    <input name="id" hidden th:attr="value=${article.id}"></input>
    标题 <input type="text" name="title" th:attr="value=${article.title}"><br>
    正文<textarea name="content" th:text="${article.content}"></textarea><br>
    <input type="submit" value="提交">
</form>
</body>
</body>
</html>