<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzp.blog.blog.mapper.UserMapper">

    <select id="findbyId" parameterType="int" resultType="com.hzp.blog.blog.model.User">
       SELECT *
        FROM USER
        WHERE Id=#{c}
</select>
<insert id="insert" parameterType="com.hzp.blog.blog.model.User" >
   INSERT INTO USER
		(phone,username,password,gender,truename,birthday,email,personalBrief,avatarlmgUrl,recentlylanded) VALUES
		(#{phone},#{username},#{password},#{gender},#{truename},#{birthday},#{email},#{personalBrief},#{avatarlmgUrl},#{recentlyLanded})

</insert>
    <select id="findall" resultType="com.hzp.blog.blog.model.User">
        SELECT *
        FROM USER
    </select>
<select id="findLastId" resultType="int">
   SELECT LAST_INSERT_ID()
</select>
</mapper>
